body{
    text-align: center;
    padding:100px;
    background-color: antiquewhite;

    
}
h2{
color: blue;
    border: 5px solid red;
    margin: 0 auto;
max-width: 200px;
    
    
    
}
#rfcForm {
    margin: 0 auto;
    border: 2px solid blue; 
    padding: 25px;
    border-radius: 8px;
    max-width: 400px; 
    background-color: white;
}
#promedioForm {
    margin: 0 auto;
    border: 2px solid blue; 
    padding: 25px;
    border-radius: 8px;
    max-width: 400px; 
    background-color: white;
}